<section id="cont">
  <!-- Navigation Bar -Begin- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <span class="text-success h3">STO</span><span class="text-primary h3">CKY</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if current_user.admin == true %>
        <li class="nav-item">
          <a class="nav-link" href="/users">Show All Users</a>
        </li>
        <% end %>
         <li class="nav-item">
          <a class="nav-link" href="/stocks/new">Search Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
      <div class="navbar-text font-weight-bold">
        Welcome, 
        <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>!
      </div>
    </div>
  </nav>
  <!-- Navigation Bar -End- -->
</section>


<section class="frost-wide">
    <h1 class="text-success h5-m">
      EDIT USER PROFILE
    </h1>
</section>


<div class="frost">
  <h1 class="text-white"> 
    USERNAME: <%= @user.username %>  ID: <%= @user.id %>
  </h1>
    <hr>
    <form action="/users/<%= @user.id %>" method="post">
        <input id="hidden" name="_method" type="hidden" value="PATCH" />
         <div class="form-group">
          <input class="form-control rounded-0" name="username" type="text" placeholder="Edit User Name"/>
          <small class="form-text">
            Current User Name: <%= @user.username %>
          </small>
        </div>
        <div class="form-group">
          <input class="form-control rounded-0" name="email" type="email" placeholder="Edit Email"/>
          <small class="form-text">
            Current User Email: <%= @user.email %>
          </small>
        </div>
        <div class="form-group">
          <input class="form-control rounded-0" name="password" placeholder="Enter password" type="password" placeholder="Enter or Change Password"/>
        </div>
        <hr>
        <div class="container text-right">
            <input type="submit" value="Update Profile Information" class="btn btn-info rounded-0" />
        </div>
    </form>
</div>
